{:log-path "./toto.log"
 :development-mode true
 :http-port 8080

 :base-url "http://localhost:8080"
 :db {:subname "./local-db/toto"
      :backup-path "./local-db"}
 :smtp {:enabled false
        :from "mike@mschaef.com"}
 :admin-mails ["mike@mschaef.com"]

 :job-schedule {:db-backup "15 */1 * * *"
                :unverified-user-cull "0 */1 * * *"}}
