// http://blogs.msdn.com/b/kurlak/archive/2013/11/03/hiding-vertical-scrollbars-with-pure-css-in-chrome-ie-6-firefox-opera-and-safari.aspx

// http://stackoverflow.com/questions/16670931/hide-scroll-bar-but-still-being-able-to-scroll


body {
    overflow-y: hidden;
    height: 100%;
}

h1 {
    background: red;
}

div#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;

    background: #f0fff0;

    height: 100%;
    overflow-y: auto;

    z-index: 10;
}

div#sidebar::-webkit-scrollbar {
    display: none;
}

div#contents {
    position: absolute;
    top: 0;
    left: 0px;

    background: #f0f0ff;

    height: 100%;
    overflow-y: auto;

    width: 100%;

    z-index: 5;
}

div#contents::-webkit-scrollbar {
    display: none;
}