{:app {:name "toto"
       :title "Toto"}
 :http-port 8080
 :development-mode false
 :db {:backup-path false
      :subname "toto"}
 :smtp {:enabled false}
 :admin-mails []
 :url-target-length 60

 :job-schedule {:web-session-cull "32 */1 * * *"
                :item-sunset "13 */1 * * *"
                :verification-link-cull "*/15 * * * *"
                :db-backup "0 2 * * *"}}
