{:app {:name "toto"
       :title "Toto"}
 :http-port 8080
 :development-mode false
 :db {:backup-path false
      :subname "toto"}
 :smtp {:enabled false}
 :admin-mails []
 :url-target-length 60

 :web-session {:max-age-hours 720
               :stale-hours 2}

 :job-schedule {:web-session-cull "32 */1 * * *"
                :item-sunset "13 */1 * * *"
                :verification-link-cull "*/15 * * * *"
                :unverified-user-cull "0 5 * * *"
                :db-backup "0 2 * * *"}

 :max-unverified-user-age 365}
