/* toto-mobile.css - Site styles for desktop use */

body, table, select, input {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 15px;
    line-height:1.2;
}

div#sidebar {
    float: both;
    position: absolute;
    left: -270px;
    width: 270px;

    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;

    background: #606070;
}

div#contents {
    padding-bottom: 10px;
    background: white;
}


table.item-list td {
    padding: 2px;
    vertical-align: middle;
}

table.item-list tr.item-row {
    border-top: 1px solid #e0e0e0;
}

table.item-list tr.item-row.first-row {
    border-top: none;
}

/* toto.css - Site styles */

body {
    margin: 0px;
    padding: 0px;
}

A { 
  text-decoration: none;
} 


table.list-list {
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-top: 0px;
    width: 100%;
}

table.list-list tr:hover {
    background: #e0e0e0;
}

table.list-list tr.selected:hover {
    background: #e0e0e0;
}

table.list-list tr {
    padding: 2px 8px;
    border-left: 3px solid white;

    min-height: 2em;
    height: 2em;
}

table.list-list td {
    vertical-align: middle;

    border-bottom: 1px solid #707070;
}

table.list-list td.add-list {
    text-align: center;
    vertical-align: middle;

    border-bottom: none;
}

table.list-list tr.selected {
    background: white;
    border-left: 3px solid red;
}

table.list-list tr.selected A {
    color: red;
}

table.list-list A:link {
    color: #e0e0e0;
    font-weight: bold;
}

table.list-list A:visited {
    color: #e0e0e0;
    font-weight: bold;
}

ul.list-list li.drop-hover {
    background: #808080;
}

table.list-list td.item-control {
    min-width: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
}

table.item-list td.item-control {
    min-width: 2em;
    width: 2em;
    height: 3em;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

table.item-list td.item-description {
    padding-left: 0.67em;
}

A {
  text-decoration: none;
}

A:link { 
  color: blue;
} 

A:visited { 
  color: blue;
} 

table.item-list {
    width: 100%;
    border-collapse: collapse;
}

div#error {
    color: red;
    text-align: center;
}

div#wrap {
    padding-top: 3em;
    overflow-x:hidden;
}

div#header span#vspace {
    min-height: 21px;
    display: inline-block;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

div#header A {
    color: black;
    font-weight: bold;
}

span#logout A {
    color: red;
}

div#header {
   background: #e0e0e0;
   color: #202020;

   position: fixed;
   width: 100%;

   border-bottom: 1px solid #c0c0c0;

   box-shadow: 1px 1px 1px #c0c0c0;
}

img.show-list {
    vertical-align: middle;

    border-right: 1px solid #707070;

   padding-left: 0.67em;
   padding-top: 0.67em;
   padding-bottom: 0.67em;
   padding-right: 0.67em;
}

div#footer {
    clear: both;
    background: white;

    border-top: 1px solid #c0c0c0;
    color: #404040;

    text-align: center;
    font-size: 80%;
    font-style: italic;
}

div.list-control-footer {
    text-align: center;
    font-size: 80%;
    font-style: italic;
}

.full-width {
    width: 100%;
}

p.new-list {

    text-align: center;
    font-style: italic;

    padding-top: 1em;
    padding-bottom: 1em;

}

p.new-user {
    font-style: italic;
}

table.config-panel  {
    background: #f0f0f0;
    border-collapse: collapse;
    width: 100%
}

table.config-panel > tbody > tr > td {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.config-panel td.section-heading {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: top;
    width: 2%
}

form {
    padding: 0px;
    margin: 0px;
}

form.embedded {
    display: inline;
}

.hidden {
    display: none;
}

table.form {
    margin: 10px;
}

.simple-border {
   border-style: solid;
   border-width: 1px;
   padding-left: 0.2em;
   border-color: #707070;
}
