/* toto.css - Site styling */

/* Global font selection */

body, table, select, input {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

body {
    display: flex;
}

.addr {
    font-family: Courier
}

.dev-tool {
    margin: 1em;
    padding: 1em;
    border: 1px solid red;
}

input {
    padding: 4px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Top level page layout. */

body {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    font-family: Roboto,Helvetica,sans-serif;
    line-height:1.2;

    height: 100vh;
    width: 100vw;
}

.header {
    flex: 0;

    z-index: 1;

    background: #e0e0e0;
    color: #202020;

    border-bottom: 1px solid #c0c0c0;

    box-shadow: 1px 1px 1px #e0e0e0;

    padding: 0.5em;
}

.contents {
    flex: 1;

    background: white;

    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
}

.footer {
    flex: 0 0 auto;

    background: white;

    border-top: 1px solid #c0c0c0;
    color: #404040;

    text-align: center;
    font-style: italic;
}

.sidebar {
    z-index: 2;
    display: block;
	position: absolute;

	top: 0;
    bottom: 0;
	left: -320px;
    width: 310px;

    background: white;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    box-shadow: 2px 2px 2px #e0e0e0;

    transform: translate3d( 0, 0, 0 );
    transition: transform 0.25s ease-in-out;
}

@media only screen and (min-device-width : 480px) {
    form {
        width: 480px;
    }

    .sidebar {
        z-index: 0;
        left: 0px;
        box-shadow: none;
        width: 270px;
        padding-top: 10px;
    }
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.dangerous {
    color: red;
    margin-right: 0.5em;
}

.warning {
    color: red;
}

.scrollable {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 60px;
}

.new-item-form {
    display: flex;
    flex-direction: row;
    margin: 6px;
    padding: 0px;

    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.new-item-form input {
    flex: 1;
    min-width: auto;
    width: auto;
}

.new-item-form i {
    flex: 0;
    padding-left: 6px;
    padding-right: 3px;
}

form {
    padding-left: 10px;
    padding-right: 10px;
}

.auth-form input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.config-panel input[type=checkbox] {
    width: 32px;
}

.config-panel input[type=hidden] {
    width: 32px;
}

.submit-panel {
    text-align: center;
}

.submit-panel input {
    display: inline;
    width: auto;
    margin-bottom: 0px;
}

@media only screen and (min-device-width : 480px) {
    .contents.with-sidebar {
        padding-left: 320px;
    }
}

.contents::-webkit-scrollbar {
    display: none;
}

span.close-menu {
    padding-right: 0.5em;
}

.sidebar-control {
    border: 0px;
    border-left: 5px solid #f0f0f0;
    margin-right: 2px;

    padding: 2px 8px;
    background: #f0f0f0;
    vertical-align: middle;
    min-height: 6em;
    height: 6em;
    line-height: 3em;
}

.header a.click {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.header .right {
    float: right;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.query-settings {
    margin-top: 1em;
    margin-bottom: 1em;

    right: 0px;

    border-top: 1px solid .c0c0c0;

    text-align: center;
    font-style: italic;
}

.header .vspace {
    min-height: 12pt;
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.embedded {
    display: inline;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.hidden {
    display: none;
}

.simple-border {
    border-color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-top: 0px none;
    border-right: 0px none;
    border-left: 0px none;
    background: #f0f0f0;
}

::placeholder {
    color: #c0c0c0;
}

/* Application fonts */


A {
  text-decoration: none;
  color: black;
}

@media only screen and (min-device-width : 480px) {
    .sidebar-control {
        display: none;
    }

    .toggle-menu {
        display: none;
    }
}

@media only screen and (min-device-width : 480px) {
    .footer .logout {
        display: none;
    }
}

@media only screen and (max-device-width : 480px) {
    .header .logout {
        display: none;
    }
}

.page-message {
    margin: 1em;
}

.error-message {
    color: red;
    text-align: center;
    height: 30px;
}

.header span.app-name A {
    color: black;
    font-weight: bold;
}

.contents .logout {
    padding-top: 1em;
    text-align: center;
}

@media only screen and (max-device-width : 480px) {
    .app-name {
        display: none;
    }
}

.logout-control A {
    color: red;
}

.completed_item {
    text-decoration: line-through;
}

.deleted_item {
    text-decoration: line-through;
    color: #c0c0c0;
}

.item-control {
    width: 1.5em;
    min-width: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.todo-list, .list-list.toplevel-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.scrollable .list-list {
    width: 100%;
}

/* Toplevel list styling */

.toplevel-list tr {
    width: 100%;
}

.toplevel-list td {
    padding-top: 0.66em;
    padding-bottom: 0.66m;
}


.toplevel-list .item-description {
    width: 100%;
    white-space: normal;
}

.snooze-control {
    text-align: center;
    font-style: italic;
}

/* List list styling */

.sidebar .list-list tr {
    border-left: 5px solid white;
}

.sidebar .list-list tr td {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.list-list .selected.drop-hover, .list-list .drop-hover {
    background: #e0e0e0;
}

.sidebar .list-list .selected A {
    color: red;
}

.sidebar .list-list .selected {
    background: white;
    border-left: 5px solid red;
}

.sidebar .list-list .control-row td {
    text-align: center;
}

.pill {
    margin-left: 0.25em;
    padding-left: 0.375em;
    padding-right: 0.375em;
    font-size: 13px;

    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
}

.public-flag {
    border: 1px solid #ffffd7;
    background: #ffffd7;
    text-transform: uppercase;
}

.public-flag A {
    color: #707070;
}

@media only screen and (max-device-width : 480px) {
    .priority.left {
        display: none;
    }
}

@media only screen and (min-device-width : 480px) {
    .priority.right {
        display: none;
    }
}

.item-priority A {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.item-row {
    border-top: 1px solid #e0e0e0;
    padding: 0.25em;
    white-space: nowrap;
}

.high-priority {
    background: #fffff0;
    font-weight: bold;
}

.low-priority {
    background: #e7e7ff;
    font-style: italic;
}

.snoozed {
    background: #e0e0e0;
    font-style: italic;
}

.item-button {
    border: 0px none;
    background: transparent;
    padding: 0.2em;
    cursor: pointer;
}

.drag-item {
    padding: 0.2em;
    border: 2px solid black;
    background: white;
}

.list-control-footer {
    text-align: center;
    font-style: italic;
}

.full-width {
    width: 100%;
}

p.new-list {
    text-align: center;
    font-style: italic;

    padding-top: 1em;
    padding-bottom: 1em;
}

p.new-user {
    font-style: italic;
}

.config-panel  {
    width: 100%;
    padding-bottom: 16px;
}

.config-panel .panel-body {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.config-panel .list-owner {
    padding-top: 4px;
    padding-bottom: 4px;
}

.config-panel .list-owner .self-owner {
    display: inline-block;

    width: 32px;
}


.config-panel .panel-heading {
    padding-top: 2px;
    padding-bottom: 4px;
    font-weight: 600;
}

i.icon-edit {
    color: #000000;
}

i.icon-black {
    color: black;
    font-weight: bold;
}

i.icon-gray {
    color: #b0b0b0;
}

i.icon-gray:hover {
    color: black;
    font-weight: bold;
}

i.icon-yellow {
    color: #ffd000;
}

i.icon-blue {
    color: #0000ff;
}

i.icon-yellow:hover {
    color: #ffe700;
}

i.icon-bars {
    color: black;
    padding: 0.5em;
}

.animating .sidebar, .menu-visible .sidebar {
  display: block;
}

.sidebar.menu-visible {
    display: block;
    transform: translate3d( 320px, 0, 0 );
}

.sidebar .copyright {
    border-top: 1px solid #c0c0c0;
    margin-top: 20px;
    text-align: center;
    font-style: italic;

    padding: 10px;
}

.contents, .sidebar {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

input[type=submit] {
    padding: 0.5em 1em;
    background: #ccc;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

input[type=submit]:hover {
    background:#ddd;
}

select {
    padding: 5px 10px;
    background:#ccc;
    cursor:pointer;

    border: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

select:hover {
    background:#ddd;
}


@media print {
    .header {
        display: block;
        position: static;
    }

    .contents {
        display: block;
        position: static;
        padding: 0px;
    }

    .sidebar {
        display: none;
    }

    .query-settings {
        display: none;
    }

    .new-item {
        display: none;
    }

    .logout-control {
        display: none;
    }

    .item-control.complete {
        display: none;
    }

    .priority.right {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .new-item-form {
        display: none;
    }
}
