/* toto.css - Site styling */

/* Global font selection */

body, table, select, input {
    margin: 0px;
    padding: 0px;
}

.addr {
    font-family: Courier
}

.dev-tool {
    margin: 1em;
    padding: 1em;
    border: 1px solid red;
}

@media only screen and (min-device-width : 480px) {
    body, table, select, input { 
        font-size: 10pt;
    }
}

input {
    padding: 4px;
}

/* Top level page layout. */

body {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 11pt;
    line-height:1.2;

    height: 100vh;
}

.header {
    flex: 0 0 auto;

    z-index: 1;
    
    background: #e0e0e0;
    color: #202020;

    border-bottom: 1px solid #c0c0c0;

    box-shadow: 1px 1px 1px #e0e0e0;

    padding: 0.5em;
}

.contents {
    background: white;
    
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer {
    flex: 0 0 auto;
    
    background: white;

    border-top: 1px solid #c0c0c0;
    color: #404040;

    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.sidebar {
    z-index: 2;
    display: block;
	position: absolute;
    
	top: 0;
    bottom: 0;
	left: -280px;
    width: 270px;

    background: white;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    box-shadow: 2px 2px 2px #e0e0e0;

    transform: translate3d( 0, 0, 0 );
    transition: transform 0.25s ease-in-out;
}

@media only screen and (min-device-width : 480px) {
    form {
        width: 480px;
    }
    
    .sidebar {
        z-index: 0;
        left: 0px;
        box-shadow: none;
        width: 240px;
        padding-top: 10px;
    }
}

div.sidebar::-webkit-scrollbar {
    display: none;
}

.dangerous {
    color: red;
    margin-right: 0.5em;
}

.warning {
    color: red;
}

.todo-list {
    height: 100%; 
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
}

.scrollable {
    overflow-y: scroll;
    height: 100%;
}

.new-item-form {
    padding: 6px;
}

form {
    padding-left: 10px;
    padding-right: 10px;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.submit-panel {
    text-align: center;
}

.submit-panel input {
    display: inline;
    width: auto;
    margin-bottom: 0px;
}

@media only screen and (min-device-width : 480px) {
    .contents.with-sidebar {
        padding-left: 240px;
    }
}

div.contents::-webkit-scrollbar {
    display: none;
}
span.close-menu {
    padding-right: 0.5em;
}

div.sidebar-control {
    border: 0px;
    border-left: 5px solid #f0f0f0;
    margin-right: 2px;
    
    padding: 2px 8px;    
    background: #f0f0f0;
    vertical-align: middle;
    min-height: 6em;
    height: 6em;
    line-height: 3em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div.header a.click {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.header .right {
    float: right;
}

div.wrapper {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

div.query-settings {
    margin-top: 1em;

    right: 0px;

    border-top: 1px solid .c0c0c0;

    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.header .vspace {
    min-height: 12pt;
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.embedded {
    display: inline;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.hidden {
    display: none;
}

.simple-border {
    border-color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-top: 0px none;
    border-right: 0px none;
    border-left: 0px none;
    background: #f0f0f0;
//    padding: 0.33em;
}

::placeholder {
    color: #c0c0c0;
}

/* Application fonts */

A { 
  text-decoration: none;
} 

A:link { 
  color: blue;
} 

A:visited { 
  color: blue;
} 

@media only screen and (min-device-width : 480px) {
    .sidebar-control {
        display: none;
    }

    .toggle-menu {
        display: none;
    }
}

@media only screen and (min-device-width : 480px) {
    div.footer div.logout {
        display: none;
    }
}

@media only screen and (max-device-width : 480px) {
    .header .logout {
        display: none;
    }
}

.page-message {
    margin: 1em;
}

.error-message {
    color: red;
    text-align: center;
    height: 30px;
}

div.header span.app-name A {
    color: black;
    font-weight: bold;
}

div.contents div.logout {
    padding-top: 1em;
    text-align: center;
}

@media only screen and (max-device-width : 480px) {
    span.app-name {
        display: none;
    }
}

.logout-control A {
    color: red;
}

div.completed_item {
    text-decoration: line-through;
}

div.deleted_item {
    text-decoration: line-through;
    color: #c0c0c0;
}

/* List List Page styling */

.list-page {
    padding-left: 1em;
    padding-right: 6px;

    height: 100%;
    width: 100%;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
}

/* List list styling */

.list-list {
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-top: 0px;
    width: 100%;
    list-style: none;
}

.list-list A {
    color: #424242;
}

.list-list tr {
    border-left: 5px solid white;
}

.list-list td {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 150%;
}

.list-list td.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list-list tr.selected.drop-hover, .list-list tr.drop-hover {
    background: #e0e0e0;
}

.list-list tr.selected A {
    color: red;
}

.list-list tr.selected {
    background: white;
    border-left: 5px solid red;
}

@media only screen and (min-device-width : 480px) {
    .list-list tr {
        min-height: 2.25em;
        height: 2.25em;
        line-height: 2.25em;
    }
}

.list-list .public-flag {
    margin-left: 0.5em;
    padding-left: 0.375em;
    padding-right: 0.375em;
    font-size: 0.5rem;

    border-radius: 5px;
    border: 1px solid #ffffd7;
    background: #ffffd7;
    text-transform: uppercase;
}

.list-list .group-list-flag {
    padding-left: 0.25em;
}
                       

.list-list tr.control-row td {
    text-align: center;
    vertical-align: middle;

    border-bottom: none;
}

.list-list li .public-flag A {
    color: #707070;
}

/* Item list styling */

table.item-list {
    width: 100%;
}

table.item-list td {
    padding-top: 0.5em;
    padding-bottom: 0.table;
}

5em.item-list tr.item-row td {
    height: 3em;    
}

table.item-list tr.snooze-control {
    border-top: 1px solid #e0e0e0;
}

table.item-list tr.snooze-control td {
    text-align: center;
    font-style: italic;    
}

@media only screen and (min-device-width : 480px) {
    table.item-list tr.item-row td {
        height: 1.2em;
    }
}

td.item-control {
    width: 1.5em;
    min-width: 1.5em;

    padding: 0.25em;

    text-align: left;
}

@media only screen and (max-device-width : 480px) {
    td.item-control {
        width: 2.5em;
        min-width: 2.5em;
        text-align: center;
    }
}


table.item-list td.item-control div {
    text-align: center;
}

table.item-list td.item-description {
    width: 100%;
    padding: 0.25em;
    vertical-align: top;
    white-space: normal;
}

.pill {
    margin-left: 0.25em;
    padding-left: 0.375em;
    padding-right: 0.375em;
    font-size: 0.7rem;

    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
}

@media only screen and (max-device-width : 480px) {
    td.priority.left {
        display: none;
    }
}

@media only screen and (min-device-width : 480px) {
    td.priority.right {
        display: none;
    }
}

td.item-priority A {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

tr.item-row {
    border-top: 1px solid #e0e0e0;
    padding: 0.25em;
    white-space: nowrap;
}

.high-priority {
    background: #fffff0;
    font-weight: bold;    
}

.low-priority {
    background: #e7e7ff;
    font-style: italic;    
}

.snoozed {
    background: #e0e0e0;
    font-style: italic;    
}

table.item-list tr.item-row td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table.item-list tr.item-row.first-row {
    border-top: none;
}

button.item-button {
    border: 0px none;
    background: transparent;
    padding: 0.2em;
    cursor: pointer;
}

div.drag-item {
    padding: 0.2em;
    border: 2px solid black;
    background: white;
}

div.list-control-footer {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.full-width {
    width: 100%;
}

p.new-list {
    text-align: center;
    font-style: italic;

    padding-top: 1em;
    padding-bottom: 1em;
}

p.new-user {
    font-style: italic;
}

table.config-panel  {
    border-collapse: collapse;
    width: 100%
}

table.config-panel > tbody > tr:first-child > td {
    padding-top: 0.5em;
}
    
table.config-panel > tbody > tr  > td {
    padding-bottom: 0.75em;
    padding-left: 0em;
}

table.config-panel > tbody > tr.divide-at  > td {
    padding-top: 0.75em;
    border-top: 1px solid #f0f0f0;
}

table.config-panel > tbody > tr > td:first-child {
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: top;
    width: 2%
}

table.config-panel label {
    padding-left: 0.25em;
}

table.config-panel table.owner-list td {
    padding-bottom: 0.75em;
}

i.icon-edit {
    color: #000000;
}

i.icon-black {
    color: black;
    font-weight: bold;
}

i.icon-gray {
    color: #b0b0b0;
}

i.icon-gray:hover {
    color: black;
    font-weight: bold;
}

i.icon-yellow {
    color: #ffd000;
}

i.icon-blue {
    color: #0000ff;
}

i.icon-yellow:hover {
    color: #ffe700;
}

i.icon-bars {
    color: black;
    padding: 0.5em;
}

.animating .sidebar, .menu-visible .sidebar {
  display: block;
}

.sidebar.menu-visible {
    display: block;
    transform: translate3d( 280px, 0, 0 );
}

.sidebar .copyright {
    border-top: 1px solid #c0c0c0;
    margin-top: 20px;
    font-size: 10pt;
    text-align: center;
    font-style: italic;

    padding: 10px;
}

.contents, .sidebar {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

input[type=submit] {
    padding: 0.5em 1em;
    background: #ccc; 
    border: 1px solid #c0c0c0;
    cursor: pointer;
    -webkit-border-radius: 0px;
    border-radius: 0px; 
}

input[type=submit]:hover {
    background:#ddd;
}
    
select {
    padding: 5px 10px; 
    background:#ccc; 
    cursor:pointer;

    border: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;    
}

select:hover {
    background:#ddd;
}


@media print {
    div.header {
        display: block;
        position: static;
    }

    div.contents {
        display: block;
        position: static;
        padding: 0px;
    }
    
    div.sidebar {
        display: none;
    }
    
    div.query-settings {
        display: none;
    }

    tr.new-item {
        display: none;
    }

    span.logout-control {
        display: none;
    }
    
    table.item-list tr.item-row td {
        height: 1.2em;
    }

    td.priority.right {
        display: none;
    }
    
    .toggle-menu {
        display: none;
    }
}
