/* toto-desktop.css - Site styles for desktop use */

body, table, select, input {
    font-family:Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    line-height:1.2;
}

body {
    overflow-x: hidden;
}

div#sidebar {
    padding-top: 3em;
    float:left;
    width: 240px;
}

div#contents {
    padding-top: 3em;
    margin-left: 240px;
    padding-bottom: 10px;
    background: white;
}

div#page-contents {
    padding-top: 3em;
    padding-bottom: 10px;
    background: white;
}

div.item-list {
    width: 100%;
}


div.item-list div.item-row:hover {
    background: #e0e0e0;
}


div.item-control {
    display: inline-block;
    vertical-align: top;
    padding: 0.25em;
}

div.item-description {
    display: inline-block;
    width: 90%;
    padding: 0.25em;
}

div.item-description span#item_age {
    font-weight: bold;
}

div.item-priority {
    float: right;
    padding: 0.25em;
    padding-right: 0.5em;
}

div.item-row {
    border-top: 1px solid #e0e0e0;
    padding: 0.2em;
}

div.item-row.first-row {
    border-top: none;
}

div.drag-item {
    padding: 0.2em;
    border: 2px solid black;
    background: white;
}

table.item-list tr.item-row td.drag-handle {
    padding: 0px;
    min-width: 10px;
    background: #e0e0e0;
}


/* toto.css - Site styles */

body {
    margin: 0px;
    padding: 0px;
}

A { 
  text-decoration: none;
} 

table.list-list {
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-top: 0px;
    width: 95%;
}

table.list-list tr:hover {
    background: #e0e0e0;
}

table.list-list tr.selected:hover {
    background: #e0e0e0;
}

table.list-list tr {
    padding: 2px 8px;
    border-left: 3px solid white;

    min-height: 2em;
    height: 2em;
}

table.list-list td {
    vertical-align: middle;
}

table.list-list td.add-list {
    text-align: center;
    vertical-align: middle;
}

table.list-list tr.selected {
    background: white;
    border-left: 3px solid red;
}

table.list-list tr.selected A {
    color: red;
}

table.list-list A:link {
    color: black;
}

table.list-list A:visited {
    color: black;
}

table.list-list tr.drop-hover {
    background: #808080;
}

table.list-list td.item-control {
    min-width: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
}


A {
  text-decoration: none;
}

A:link { 
  color: blue;
} 

A:visited { 
  color: blue
} 



div#error {
    color: red;
    text-align: center;
}

span#warning {
    color: red;
    font-style: italic;    
    padding-left: 10px;
}

div#header A {
    color: black;
    font-weight: bold;
}

span#logout A {
    color: red;
}

span#item_age {
   font-style: italic;
   font-weight: bold;
}


div.completed_item {
    text-decoration: line-through;
}

div.deleted_item {
    text-decoration: line-through;
    color: #c0c0c0;
}

div#header {
   background: #e0e0e0;
   color: #202020;

   padding: 0.7em;
   height: 1em;
   position: fixed;
   width: 100%;
   box-shadow: 2px 2px 2px #c0c0c0;
}

div#header div.right {
    float: right;
    vertical-align: middle;
    padding-right: 1.4em;
}

div#footer {
    clear: both;
    background: white;

    border-top: 1px solid #c0c0c0;
    color: #404040;

    text-align: center;
    font-size: 80%;
    font-style: italic;
}

div.query-settings {
    margin-top: 1em;

    width: 100%;

    border-top: 1px solid #707070;

    background: #e0e0e0;

    text-align: center;
    font-size: 80%;
    font-style: italic;
}

.full-width {
    width: 100%;
}

p.new-list {
    padding-top: 5px;
    text-align: center;
    font-style: italic;
}

p.new-user {
    font-style: italic;
}

table.config-panel  {
    background: #f0f0f0;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 200px;
    width: 98%;
}

table.config-panel > tbody > tr > td {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
}

table.config-panel td.section-heading {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: top;
    width: 20%;
}

table.config-panel td.item-control {
    height: 2em;
    min-width: 2em;
    width: 2em;
    text-align: center;
    border-right: none;
}

input.dangerous {
    font-weight: bold;
    color: red;
}

form {
    padding: 0px;
    margin: 0px;
}

form.embedded {
    display: inline;
}

.hidden {
    display: none;
}

table.form {
    margin: 10px;
}

.simple-border {
   border-style: solid;
   border-width: 1px;
   padding-left: 0.2em;
   border-color: #707070;
}

i.icon-black {
    color: #000000;
    text-shadow: 1px 1px 2px #b0b0b0;
}

i.icon-gray {
    color: #d0d0d0;
    text-shadow: 1px 1px 2px #b0b0b0;
}

i.icon-yellow {
    color: #f0d000;
    text-shadow: 1px 1px 2px #f0b0b0;
}

i.icon-blue {
    color: #7070ff;
    text-shadow: 1px 1px 2px #b0b0f0;
}
