{:development-mode false
 :log-path "/var/log/toto/toto.log"

 :http-port 8088

 :base-url "http://todo.mschaef.com/"
 :db {:backup-path "/var/lib/toto"
      :backup-cron "0 2 * * *"}
 :smtp {:enabled true
        :from "mike@mschaef.com"
        :host "email-smtp.us-east-1.amazonaws.com"}
 :admin-mails [ "mike@mschaef.com" ]}
